<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <h2 class="fw-bold mb-0">Items</h2>
    <small class="text-muted">Manage inventory items</small>
  </div>

  <button class="btn btn-primary" (click)="addItem()">
    <i class="bi bi-plus-lg me-1"></i> Add Item
  </button>
</div>

<div class="card shadow-sm border-0">
  <div class="table-responsive">
    <table class="table table-hover align-middle mb-0">
      <thead class="table-light">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Code</th>
          <th>Description</th>
          <th class="text-end">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of paginatedItems">
          <td>
            <img
              [src]="item.image || 'https://via.placeholder.com/60'"
              class="item-thumb"
            />
          </td>
          <td class="fw-semibold">{{ item.name }}</td>
          <td>{{ item.code }}</td>
          <td class="text-muted">{{ item.description }}</td>
          <td class="text-end">
            <button
              class="btn btn-sm btn-outline-primary"
              (click)="editItem(item)">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex flex-column flex-md-row align-items-center mt-3">
    <!-- Pagination (RIGHT aligned) -->
        <nav class="ms-md-auto">
            <ul class="pagination pagination-sm mb-0 justify-content-center justify-content-md-end flex-wrap">

            <!-- Prev -->
            <li class="page-item" [class.disabled]="currentPage === 1">
                <button class="page-link" (click)="changePage(currentPage - 1)">
                ‹
                </button>
            </li>

            <!-- Page numbers (desktop only) -->
            <li
                class="page-item d-none d-md-block"
                *ngFor="let page of pages"
                [class.active]="page === currentPage"
            >
                <button class="page-link" (click)="changePage(page)">
                {{ page }}
                </button>
            </li>

            <!-- Next -->
            <li class="page-item" [class.disabled]="currentPage === totalPages">
                <button class="page-link" (click)="changePage(currentPage + 1)">
                ›
                </button>
            </li>

            </ul>
        </nav>
    </div>
  </div>
</div>

<!-- Modal -->
<app-item-modal
  *ngIf="isModalOpen"
  [item]="selectedItem"
  (close)="closeModal()"
  (save)="saveItem($event)">
</app-item-modal>
